:root {
    --light-text: #E4E5EA;
    --dark-gray: #656566;
}

/*--Обнувление браузерных стилей--*/

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin: 0px auto;

    font-size: 62.5%;
    color: var(--light-text);
    font-family: Inter;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
    color: var(--light-text);
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
    margin-block-start: 0px;
    margin-block-end: 0px;
    color: var(--light-text)
}

p {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

/*--------------------*/


body {
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #000;
}

.container {
    max-width: 1440px;
    margin: 0px auto;
    padding: 0px 150px;
}

/*-------header------*/

.header {
    height: 73px;
    margin-top: 46px;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    max-width: 145px;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 0.9rem;
    color: var(--light-text)
}

.header__logo img {
    margin: 11px 0px 12px 0px;
}

.header__logo p {
    line-height: 1.1;
    letter-spacing: 0.5px;
}

.menu {
    font-size: 1.6rem;
    font-weight: 500;
}

.header__menu {
    margin-top: 16px;
}

.menu__item {
    margin-left: 26px;
}

.header__contacts {
    display: flex;
    justify-content: space-between;
}

.header__contacts p {
    color: var(--light-text);
    text-align: right;
    font-family: Inter;
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 16px;
    margin-left: 115px;
}

.contacts__icons {
    margin-top: 14px;
    margin-left: 53px;
}

.icons__item {
    margin-right: 26px;
}

.icons__item img {
    height: 20px;
    width: 20px;
}

.icons__item:last-child {
    margin-right: 0px;
}

/*----------------------*/
/*---------main---------*/

.main {
    display: flex;
    justify-content: space-between;
    margin-top: 91px;   
}

.main__text-left .text-white {
    font-size: 4.8rem;
    font-weight: 400;
    max-width: 365px;
    line-height: 1.15;
    margin-bottom: 7px;
}

.main__text-left .text-gradient {
    font-size: 4.8rem;
    font-weight: 900;
}
.text-gradient {
    background-image: linear-gradient(to right, #FCB045, #FF3F78);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.main__text-left .text-lighttext {
    font-family: Montserrat;
    font-size: 1.8rem;
    font-weight: 400;
    max-width: 275px;
    margin-top: 37px;
    line-height: 1.2;
}

.main__text-right {
    max-width: 360px;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

.main__text-right .text {
    width: 300px;
    font-size: 1.8rem;
    text-align: right;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 40px;
}

.main__text-right .text .text-gradient {
    font-weight: 700;
    font-size: 1.8rem;
    text-transform: uppercase;
    background-image: linear-gradient(90deg, rgba(252,176,69,1) 0%, rgba(252,104,49,1) 11%, rgba(253,29,29,1) 43%, rgba(252,176,69,1) 44%, rgba(252,176,69,1) 62%, rgba(255,103,0,1) 97%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.main__text-right .text-white {
    font-weight: 500;
}

.text__block {
    max-width: 150px;
    flex-direction: column;
    margin-left: 14px;
    margin-bottom: 33px;
    text-align: right;
}

.text__block .block-uppercase {
    letter-spacing: 0.9px;
    text-transform: uppercase;
    font-size: 1.8rem;
    margin-bottom: 9px;
}

.text__block .block-lighttext {
    font-family: Montserrat;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.2;
}

.block__button {
    width: 262px;
    height: 61px;
    background: #4077F3;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--light-text);
    margin-top: 28px;
}
.main__text-media{
    display: none;
}

/*----------------------*/
/*-------footer---------*/

.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 124px;
}


.footer__block .block-uppercase {
    text-transform: uppercase;
    margin-bottom: 23px;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.7px;
    color: var(--dark-gray);
}

.footer__block .block-regular{
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 170px;
    
}

.footer__block:last-child .block-uppercase{
    text-align: right;
}

.footer__block:last-child .block-regular{
    text-align: right;
    width: 540px;
}

.footer__item {
    margin-bottom: 13px;
    margin-right: 52px;
}

.footer__contacts p{
    letter-spacing: 0.1px;
}

.footer__contacts .icons__item{
    margin-right: 5px;
}
.footer__contacts .icons__item:last-child{
    margin-right: 0px;
}

.footer__contacts .contacts__item{
    margin-bottom: 22px;
}

/*----------------------*/
/*-------bottom---------*/

.bottom{
    margin-top: 25px;
    text-align: right;
}

.bottom__item{
    font-family: Montserrat;
    font-size: 1.2rem;
    margin-bottom: 8px;
    font-weight: 400;
    
}

/*----------------------*/
/*--------media---------*/

@media (max-width: 600px) {

    body {
        background-image: url(img/bg.png); 
        background-size: 100%;
    }
    .container{
        margin: 0 auto;
        width: 100vw;
        padding: 0px;               
    }
    .header{
        height: fit-content;
        margin-top: 0;
        margin-bottom: 20px;
        background-color: #000;
        padding: 0px 14px;
    }
    .header__logo {
        display: none;
    }
    .header__contacts {
        display: none;
    }
    .header__menu{
        width: 100%;
        display: flex;
        margin-bottom: 14px;
    }   
    .menu__item{
        font-size: 1.2rem;
        margin: 0;
        text-transform: uppercase;
        margin-right: 25px;
    }
    .menu__item:first-child{
        margin-left: 0px;
    }
    .menu__item:last-child{
        display: none;
    }  


    .main{
        flex-direction: column;
        padding: 20px;
        margin-top: 30px;
    }
    .main__text-left .text-white {
        font-size: 3.6rem;
    }
    .main__text-left .text-gradient {
        font-size: 3.6rem;
    }
    .main__text-left .text-lighttext {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .main__text-right {
        justify-content: left;
        height: fit-content;
    }
    .main__text-right .text {
        text-align: left;
        margin-bottom: 15px;
    }
    .main__text-right .text .text-gradient {
        text-transform: lowercase;
    }
    .text__block {
        display: none;
    }
    .block__button{
        display: none;
    }
    .main__text-media{
        display: flex;
        flex-wrap: wrap;
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 400;
        text-transform: uppercase;
    }
    .main__text-media .text-gradient{
        font-size: 20px;
    }
    .main__text-media .block-media{
        margin-right: 15px;
        margin-bottom: 10px;
    }

    .footer{
        flex-direction: column;
        margin-left: 20px;
        margin-top: 55px;
    }
    .footer__block .block-uppercase {
        font-size: 1.2rem;
        margin-top: 30px;
    }
    .footer__block .block-regular {
        font-size: 1.4rem;
        max-height: 150px;
        max-width: 300px;
    }
    .footer__item {        
        margin-right: 20px;        
    }

    .footer__block .footer__item{
        max-width: 120px;
    }
    .footer__block:first-child .footer__item{
        max-width: 200px;
    }
    .footer__block:last-child .block-uppercase{
        text-align: left;
    }    
    .footer__block:last-child .block-regular{
        text-align: left;       
        width: 100%;
    }
    .footer__block:last-child .footer__contacts:first-child{
        font-size: 1.6rem;
    }
    .footer__contacts .contacts__icons{
        margin: 0px
    }
    .footer__contacts .contacts__item{
        margin-bottom: 10px;
    }
    .footer__contacts{
        margin-bottom: 25px;
    }
    .bottom{
        text-align: left;
        margin-left: 20px;
        padding-bottom: 10px;
    }



}